* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

#app {
    display: flex;
    justify-content: center;
}

@media (orientation: landscape) {
    #app {
        flex-direction: row;
    }

    table {
        height: 100vh;
        width: 100vh;
    }
}

@media (orientation: portrait) {
    #app {
        flex-direction: column;
    }

    table {
        height: 100vw;
        width: 100vw;
    }
}

table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    table-layout: fixed;
    border-spacing: 0;

    border: 10px solid darkgrey;
}

tr {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 1fr);
}

td {
    padding: 4px;

    text-align: center;
    vertical-align: middle;

    img {
        width: 100%;
        height: 100%;
    }
}

td.isActive {
    border: 5px solid red;
}

td:empty:after {
  content: "\00a0";
}

$dark_field: #d18b47;
$light_field: #ffce9e;

tr:nth-child(2n) {
    & > td:nth-child(2n) {
        background: $light_field;
    }

    & > td:nth-child(2n + 1) {
        background: $dark_field;
    }
}

tr:nth-child(2n + 1) {
    & > td:nth-child(2n) {
        background: $dark_field;
    }

    & > td:nth-child(2n + 1) {
        background: $light_field;
    }
}
