* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
}

#app {
    justify-content: center;
}

table {
    height: calc(100vh - 20px);
    width: calc(100vh - 20px);
    margin: 10px auto;

    table-layout: fixed;
    border-collapse: collapse;

    outline: 10px solid darkgrey;
}

td {
    width: calc(100% / 8);
    height: calc(100% / 8);

    text-align: center;
    vertical-align: middle;
}

td:empty:after {
  content: "\00a0";
}

tr:nth-child(2n) > td:nth-child(2n + 1) {
    color: white;
    background: black;
}

tr:nth-child(2n + 1) > td:nth-child(2n) {
    color: white;
    background: black;
}
